body
{
    font-family: Arial, sans-serif;
    margin: 20px;
}
                       
#eventDetails
{
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;

}      
            
button
{
    margin: 5px;

} 

.selected
{
    background-color: #f0f0f0;

}